{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}

    <article class="grid login">
        <div>
            <hgroup>
                <h1>{{ 'app.front.login.sign_in'|trans }}</h1>
                <h2>{{ 'app.front.login.subtitle'|trans }}</h2>
            </hgroup>
            <form action="{{ path('app_login') }}" method="post">
                <input type="text" name="_username" placeholder="{{ 'app.front.login.login_placeholder'|trans|capitalize }}" aria-label="Login" value="{{ last_username }}" required>
                <input type="password" name="_password" placeholder="{{ 'app.front.login.password_placeholder'|trans|capitalize }}" aria-label="Password" autocomplete="current-password" required>
                <fieldset>
                    <label for="remember">
                        <input type="checkbox" role="switch" id="remember" name="_remember_me">
                        {{ 'app.front.login.remember_me'|trans }}
                    </label>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </fieldset>
                {% if error %}
                    <small class="error text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</small>
                {% endif %}
                <button type="submit" class="contrast">{{ 'app.front.login.submit'|trans }}</button>
            </form>
        </div>
        <div class="hero-img"></div>
    </article>

{% endblock %}
