<div>
    <h2>{{ "app.admin.dashboard.last_devices_access"|trans }}</h2>
    <div>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">{{ "app.admin.active_devices.server"|trans }}</th>
                <th scope="col">{{ "app.admin.active_devices.user"|trans }}</th>
                <th scope="col">{{ "app.admin.active_devices.access_date"|trans }}</th>
                <th scope="col">{{ "app.admin.active_devices.ip"|trans }}</th>
                <th scope="col">{{ "app.admin.active_devices.user_agent"|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for key, device in lastActiveDevices %}
                <tr>
                <th scope="row">{{ key + 1 }}</th>
                <td>{{ device.server.name }}</td>
                <td>{{ device.server.user.email }}</td>
                <td>{{ device.lastAccessed|date('d/m/y h:i:s') }}</td>
                <td>{{ device.ip }}</td>
                <td>{{ device.userAgent }}</td>
                
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>